button {
    text-decoration: none;
    border:1px solid gray !important;
}

.btn-group-vertical {
    display: block !important;
    margin-top: 1.3em;
    width:85%;
    margin-left: auto;
    margin-right: auto;
}

.input-group input[type="text"] {
    display: block;
    margin-left: 7.5%;
}

.jumbotron {
    background-color: #033B61 !important;
    color:white !important;
    text-shadow: 1px 1px #696C6B;
    border-radius: 0 !important;
}

#dashboard-head {
    max-height: 10em;
}

#current-weather {
    min-height: 10em;
}

#city {
    padding: 0.3em;
}

#date {
    margin-bottom: 1.3em;
}

.city-buttons {
    background-color:lightblue;
    padding: 1em;
    min-height: 45em;
    margin-bottom: 3em;
}

.forecast-label {
    margin-top: 0.7em;
}
