button {
    text-decoration: none;
    border:1px solid gray !important;
}

.jumbotron {
    background-color: #033B61 !important;
    color:white !important;
    text-shadow: 1px 1px #696C6B;;
}

.btn-group-vertical {
    margin-top: 1.3em;
    width:85%;
}

#dashboard-head {
    max-height: 10em;
}

#current-weather {
    padding: 1.4em;
    min-height: 10em;
}

#city {
    padding: 0.3em;
}

#date {
    margin-bottom: 1.3em;
}

.city-buttons {
    background-color:lightblue;
    padding: 1em;
    min-height: 35em;
    margin-bottom: 3em;
    margin-left: -2em;
}

